@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media (min-width: 0px) {
    .text-body {
      font-family: var(--font-dm-sans);
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.5625rem;
    }

    .text-H1-H2 {
      font-family: var(--font-dm-sans);
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.104em;
      line-height: 2.5rem;
    }

    .text-H4 {
      font-family: var(--font-dm-sans);
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.125rem;
      line-height: 1rem;
    }
  }

  @media (min-width: 641.25px) {
    .text-H1-H2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  min-height: 0;
  min-width: 0;
  overflow-wrap: break-word;
  padding: 0;
}

*:focus {
  outline-offset: 0.25rem;
  outline-style: dotted;
  outline-width: 0.125rem;
}

body {
  background-color: black;
}

@media (max-width: 375px) {
  html {
    font-size: 4.2666vw;
  }
}
